<a href="https://colab.research.google.com/github/yannahgonzales/CPE-21A-PLD-1-1/blob/main/Introduction_to_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Indentation

In [ ]:
if 5>3:
  print("5 is greater than 3") #This is a comment

5 is greater than 3

Variable Declaration

In [ ]:
#variable with a single value

x=2
y=3
if x>y:
  print("x is greater than y")
else:
  print("y is greater than x")

#variable with multiple values

a,b = 1,2
print("The value of a is", a)
print("The value of b is",b)

y is greater than x
The value of a is 1
The value of b is 2

#Casting and Type() function

In [ ]:
f = int(4)    #integer
g=float(4)    #decimal/fractional

print(f)
print(g)

print(type(f))
print(type(g))

4
4.0
<class 'int'>
<class 'float'>

Double quote or single quote

In [ ]:
name = "Yannah"
name1  = 'Yannah'

print(name)
print(name1)

Yannah
Yannah

Case Sensitive

In [ ]:
a = 'Yannah'
print(a)

Yannah

Variable Declaration

In [ ]:
x=2
y=3
if x>y:
  print("x is greater than y")
else:
  print("y is greater than x")

#variable with multiple values

a,b = 1,2
print("The value of a is", a)
print("The value of b is",b)

#multiple variables with single value

p = q = r = 'Yannah'
print(p)
print(q)
print(r)

y is greater than x
The value of a is 1
The value of b is 2
Yannah
Yannah
Yannah