<a href="https://colab.research.google.com/github/yannahgonzales/CPE-21A-PLD-1-1/blob/main/Operations_and_Expression_in_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Boolean Operators

In [5]:
print(10>9)
print(10==9)
print(10<9)

True
False
False

In [7]:
a = 10
b = 9
print(a>b)
b

True

9

In [9]:
a = 10
b = 9
c = 8

c = print(a>b)

c

True

In [24]:
print(bool("Hello"))
print(bool(15))
print(bool(True))
print(bool(False))
print(bool(1))
print(bool(0))
print(bool(None))
print(bool([]))

True
True
True
False
True
False
False
False

In [26]:
def myFunction(): return True
print(myFunction())

True

In [31]:
def myFunction(): return True

if myFunction():
  print("True")
else:
  print("False")

True

In [36]:
a = 6
b = 7

print(10>9)
print(a==b)
print(a!=a)
print(6==6)

True
False
False
True

##Python Operators

In [44]:
print(10+5)
print(10-5)
print(10*5)
print(10/5)
print(10%5)
print(10//3)
print(10**2)
print(10^2)

15
5
50
2.0
0
3
100
8

##Bitwise Operators

In [49]:
a = 6 # 0000 0110
b = 7 # 0000 0111

a = 60 # 0011 1100
b = 13 # 0000 1101

In [54]:
a = 60 # 0011 1100
b = 13

print(a^b)
print(~a)
print(a<<2) # 1111 0000
print(a>>2) # 0000 1111

49
-61
240
15

##Assignment Operators

In [70]:
x = 2
x += 3 #Same As x = x + 3
print(x)

5

##Logical Operator

In [85]:
a = 5
b = 6

print(a>b and a==a)
print(a<b or b==a)

False
True

##Identity Operator

In [87]:
print(a is b)
print(a is not b)

False
True